* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #E5E5E5; /* light gray */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: #4A4E69; /* dark blue */
}

main {
  width: fit-content;
  height: fit-content;
}

.grid {
  width: 100vmin;
  height: 100vmin;
  max-width: 600px;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  border: 0.5rem solid #22223B; /* deep blue */
  background-color: #F2E9E4; /* off-white */
}

.grid-items {
  border: 0.1rem solid #22223B; /* deep blue */
  font-size: 3rem; /* bigger font size */
  background-color: #9A8C98; /* muted purple */
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.grid-items:hover {
  background-color: #C9ADA7; /* light brown */
}

#box3, #box7, #box10, #box11, #box12, #box15 {
  border-left: 0.5rem solid #22223B; /* deep blue */
}

#box1, #box2, #box3, #box4, #box5, #box8, #box9, #box10, #box11 {
  border-bottom: 0.5rem solid #22223B; /* deep blue */
}

.grid-items {
  position: relative;
}

.prompt {
  position: absolute;
  top: 0%;
  left: 0%;
}

.answer {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 2rem;
  border: none;
  background-color: #4A4E69; /* dark blue */
  color: #F2E9E4; /* off-white */
  font-size: 2rem; /* bigger font size */
  transition: background-color 0.3s ease-in-out;
}

.answer:hover {
  background-color: #22223B; /* deep blue */
}

@media only screen and (min-width: 998px) {
  .sidebar {
    font-size: 10px;
  }
}
